.title {
  font-weight: bold;
}

.leadTxt {
  position: fixed;
  top: 25%;
  left: 50%;
  font-size: 18px;
  width: 100%;
  height: 100%;
  border: 11px solid #000;
  border-radius: 50%;
}

.leadTxt__body {
  width: 100%;
  height: 100%;
}
